<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <%= form_for(resource, as: resource_name, class: 'user', url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="row form-group">

                <div class="col-6">
                  <label>Your Full Name</label>
                  <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", class: "form-control form-control-user" %>
                </div>

                <div class="col-6">
                  <label>Your Email</label>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user" %>
                </div>
              
              </div>

              <label>Organization Name<span class="text-muted">Optional</span></label>

              <div class="form-group">
                <%= f.text_field :organization, autofocus: true, autocomplete: "organization", class: "form-control form-control-user" %>
              </div>

              


                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />

              

              <div class="form-group row">


                
                <div class="col-sm-6 mb-3 mb-sm-0">
                <label>Enter a password</label>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user" %>
                </div>
                
                <div class="col-sm-6">
                <label>Confirm your password</label>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user" %>
                </div>
              </div>

              <%= f.submit "Register Account", class: "btn btn-primary btn-user btn-block" %>

              <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
              </a>

              <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-facebook btn-user btn-block' do %>
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
              <% end %>

            <% end %>
            <hr>
            <div class="text-center">
              <%= link_to 'Forgot Password?', new_user_password_path, class: 'small' %>
            </div>
            <div class="text-center">
              <%= link_to 'Already have an account? Login!', new_user_session_path, class: 'small' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








