<div class="<%= 'd-none' unless @step == 2 %>">
  <p class="subtitle text-primary">
    Pet Transportation Costs
  </p>
  <h1 class="h2 mb-5">Pet Costs</h1>
  <div class="row form-group">

    <div class="col-md-12">
      <div class="form-group">
        <div class="alert alert-warning">
          <% if !@pet.has_one_transport_cost %>
            Hey <%= current_user.fullname  %> If you ONLY want one transportation cost for local delivery within your neighbourhood, you need to select  
            <br>
            <strong>
              <%= link_to '"I have only one transportation cost - In Previous Step Here"', edit_pet_path(@pet, anchor: "transport-cost", step: 1) %>
            </strong>

          <% else %>
            Hey <%= current_user.fullname  %> If you want add many transportation costs for local delivery, national, and International you need to select
            <br>
            <strong>
              <%= link_to '"I have multiple transportation costs - In Previous Step Here"', edit_pet_path(@pet, anchor: "transport-cost", step: 1) %>
            </strong>
          <% end %>
        </div>
      </div>
    </div>

    <%= f.fields_for :costs, @pet.costs.order(:cost_type) do |c| %>
      <div class="col-lg-4 <%= 'my-hidden' if @pet.has_one_transport_cost && !c.object.local?  %>">
        <%= c.hidden_field :cost_type %>

        <div class="card border-primary mb-3">
          <div class="card-header bg-transparent border-primary">
            <h6 class="mb-0"><%= c.object.cost_type.capitalize %></h6>
          </div>
          <div class="card-body text-muted">
            <div class="form-group">
              <label for="">Name of cost</label>
              <%= c.text_field :title, placeholder: c.object.cost_type.capitalize, class: 'form-control text-primary' %>
            </div>
            <div class="form-group">
              <label for="">Describe the <%= c.object.cost_type.capitalize %> transportation to the best of your ability</label>
              <%= c.text_area :description, placeholder: 'Description', rows: '5', class: 'form-control text-primary' %>
            </div>
          </div>
          <div class="card-footer bg-transparent border-muted">
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Days</div>
                </div>
                <%= c.number_field :transport_time, placeholder: 'Pet delivery time', class: 'form-control text-primary' %>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-muted">
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Cost</div>
                </div>
                <%= c.number_field :cost, placeholder: 'Total cost', class: 'form-control text-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ml-auto float-right mr-2 mt-3">
    <%= f.submit "Save & Contiunue", class: 'btn btn-primary' %>
  </div>
</div>