<div class="<%= 'd-none' unless @step == 1 %>">
  <p class="subtitle text-primary">
    Please continue to fill out the fields
  </p>
  <h1 class="h2">Pet Details</h1>

  <!-- Form  -->
  <div class="form-group">
    <label>Pet's Name</label>
    <%= f.text_field :title, autocomplete: 'title', class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Pet's Category</label>
    <%= f.select(:category_id, options_for_select(@categories.map{ |c| [c.name, c.id]}, selected: @pet.category_id), { wraper: {} }, { class: 'custom-select mb-3'}) %>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-12">
      <div class="form-group ">
        <%= f.check_box :is_dog_friendly, class: 'myclass1 ml-1 mt-2' %>
        <%= f.label :is_dog_friendly, class: 'myclass1 ml-1' do %>
          Friendly with dogs
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="form-group ">
        <%= f.check_box :is_cat_friendly, class: 'myclass1 ml-1 mt-2' %>
        <%= f.label :is_cat_friendly, class: 'myclass1 ml-1' do %>
          Friendly with cats
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="form-group ">
        <%= f.check_box :is_dominant, class: 'myclass1 ml-1 mt-2' %>
        <%= f.label :is_dominant, class: 'myclass1 ml-1' do %>
          Dominant alpha male/female
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="form-group ">
        <%= f.check_box :is_people_friendly, class: 'myclass1 ml-1 mt-2' %>
        <%= f.label :is_people_friendly, class: 'myclass1 ml-1' do %>
          Friendly with strangers
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="form-group ">
        <%= f.check_box :is_shows_past_abuse, class: 'myclass1 ml-1 mt-2' %>
        <%= f.label :is_shows_past_abuse, class: 'myclass1 ml-1' do %>
          Clear signs of abused past
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="form-group ">
        <%= f.check_box :is_barks_alot, class: 'myclass1 ml-1 mt-2' %>
        <%= f.label :is_barks_alot, class: 'myclass1 ml-1' do %>
          This dog barks a lot
        <% end %>
      </div>
    </div>
  </div>


  <div class="row py-4">
    <div class="col-md-6 col-lg-4">
      <div class="form-group">
        <label>Pet Age</label>
        <%= f.number_field :age, placeholder: 'Enter age', class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="form-group">
        <label>Pet Weight / Kg</label>
        <%= f.number_field :weight, placeholder: 'Enter weight In KG', class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="form-group">
        <label>Microchip Number (If Microchiped)</label>
        <%= f.text_field :michrochip, placeholder: 'Microchip Number', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Pet Address</label>
    <%= f.text_field :address, class: 'form-control' %>
    <small class="form-text text-muted">Hey this is location of your pet.</small>
  </div>

  <div class="form-group">
    <label>Pet Description</label>
    <%= f.rich_text_area :pet_description, class: 'form-control', rows: '20' %>
    <small class="form-text text-muted">Tell your user what you need them to write about. Tell your user what you need them to write about</small>
  </div>

  <div class="form-group ">
    <%= f.check_box :is_spayed, class: 'myclass1 ml-1 mt-2' %>
    <%= f.label :is_spayed, class: 'myclass1' do %>
      Spayed / Neutered
    <% end %>
    <small class="form-text text-muted">Neutered or Spayed if the dog has been fixed, canot reproduce. Check this box.</small>
  </div>

  <!-- Has One Transport Cost Check Box -->
  <div id="transport-cost" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Important</h4>
    <p>Please indicate the costs associated with this pet. There is always a cost, primarly most costs are associated with transporation. This is why we've createtd 3 main transportation costs. They are Local, National and International. You must check this boxif you only want your pet to be adoted localy within your neighbourhood or anywhere close to you.</p>
    <hr>
    <p class="mb-4">If you are not sure of the associated costs in transporting your pet by or to far away places, you can check the box for now to indicate local delivery only and fill out the local fields. You must have at least one cost associated with the pet.</p>
    <div class="row">
      <div class="col-md-6 col-md-4 col-sm-12">
        <div class="form-group ">
          <%= f.select(:has_one_transport_cost, options_for_select([["I have multiple transportation costs", false],["I have only one transportation cost", true]], selected: @pet.has_one_transport_cost), { wrapper: {} }, { class: 'custom-select' }) %>
        </div>
      </div>
    </div>
  </div>

  <div class="ml-auto float-right mr-2 mt-3">
    <%= f.submit "Save & Contiunue", class: 'btn btn-primary' %>
  </div>
</div>