<div class="scrollable-wrapper">
  <div class="col bg-white border rounded mr-2 scrollable-item <%= @step == 1 ? 'border-primary shadow-sm' : 'border-light shadow-none' %>">
    <%= link_to edit_pet_path(@pet, step: 1), class: 'd-block my-2 text-decoration-none' do %>
      <span class="text-primary">Step 1 - Pet Details</span>
      <br>
      <span class="font-weight-bold text-muted">Completed</span>
      <i class="fa fa-check float-right text-muted"></i>
    <% end %>
  </div>
  <div class="col bg-white border rounded mr-2 scrollable-item <%= @step == 2 ? 'border-primary shadow-sm' : 'border-light shadow-none' %>">
    <%= link_to edit_pet_path(@pet, step: 2), class: 'd-block my-2 text-decoration-none' do %>
      <span class="text-primary">Step 2 - Pet Transportation</span>
      <br>
      <span class="font-weight-bold text-muted">Completed</span>
      <i class="fa fa-check float-right text-muted"></i>
    <% end %>
  </div>
  <div class="col bg-white border rounded mr-2 scrollable-item <%= @step == 3 ? 'border-primary shadow-sm' : 'border-light shadow-none' %>">
    <%= link_to edit_pet_path(@pet, step: 3), class: 'd-block my-2 text-decoration-none' do %>
      <span class="text-primary">Step 3 - Pet Media</span>
      <br>
      <span class="font-weight-bold text-muted">Completed</span>
      <i class="fa fa-check float-right text-muted"></i>
    <% end %>
  </div>
  <div class="col bg-white border rounded mr-2 scrollable-item <%= @step == 4 ? 'border-primary shadow-sm' : 'border-light shadow-none' %>">
    <%= link_to edit_pet_path(@pet, step: 4), class: 'd-block my-2 text-decoration-none' do %>
      <span class="text-primary">Step 4 - Publish</span>
      <br>
      <span class="font-weight-bold text-muted">Completed</span>
      <i class="fa fa-check float-right text-muted"></i>
    <% end %>
  </div>
</div>