<div class="<%= 'd-none' unless @step == 3 %>">
  <!-- Photo Uplaod Box from Dropzone.js-->
  <div class="form-group">
    <label>Pet Youtube URL</label>
    <%= f.text_field :video, autocomplete: 'video', class: 'form-control' %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="dropzone" action="/pets/<%= @pet.id %>/upload_pet_photos" id="petDropzone">
        <div class="dz-message d-flex flex-column">
          <i class="material-icons text-primary">cloud_upload</i>
          Drag & Drop Or Click here to upload photos
        </div>
      </div>
    </div>
  </div>
  <!-- List all photos goes here-->
  <div class="row p-3">
    <% @pet.pet_photos.each do |photo| %>
      <div class="col-lg-4 p-1">
        <%= image_tag url_for(photo), class: 'pet-image' %>
        <div class="card-image-overlay-bottom">
          <%= link_to delete_pet_photos_pet_url(pet_photo_id: photo.id, id: @pet.id), method: :delete, data: {confirm: "Are you Sure!", class: 'pet-delete'} do %>
            <div class="pet-delete">Delete</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ml-auto float-right mr-2 mt-3">
    <%= f.submit "Save & Contiunue", class: 'btn btn-primary' %>
  </div>


  <script>
    Dropzone.options.petDropzone = {
      paramName: "file", // The name that will be used to transfer the file
      maxFilesize: 2, // MB
      acceptedfFiles: 'image/*',
      init: function() {
        this.on('complete', function (file) {
          location.reload();
        })
      }
    };
  </script>
</div>