<section class="py-4">
  <div class="container">
    <%= render 'steps_menu' %>

    <%= form_for @pet do |f| %>

      <%= hidden_field_tag 'step', @step %>

      <%= render 'step1', f:f %>
      <%= render 'step2', f:f %>
      <%= render 'step3', f:f %>
      <%= render 'step4', f:f %>

    <% end %>


  </div>
</section>


