<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Login</h1>
                </div>
                <%= form_for(resource, as: resource_name, class: 'user', url: session_path(resource_name)) do |f| %>
                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", placeholder: "Enter Email Address..." %>
                    
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: "form-control form-control-user", placeholder: "Your password" %>
                  </div>
                  <div class="form-group">
                      <% if devise_mapping.rememberable? %>
                        <div class="custom-control custom-checkbox small">
                          <%= f.check_box :remember_me, class: 'custom-control-input' %>
                          <%= f.label :remember_me, class: 'custom-control-label' %>
                        </div>
                      <% end %>
                    
                  </div>
                
                  <%= f.submit "Log in", class: 'btn btn-primary btn-user btn-block' %>

                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>

                  <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-facebook btn-user btn-block' do %>
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  <% end %>

                <% end %>
                <hr>
                <div class="text-center">
                  <%= link_to 'Forgot Password?', new_user_password_path, class: 'small' %>
                </div>
                <div class="text-center">
                  <%= link_to 'Register Here', new_user_registration_path, class: 'small' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


