//= require actiontext
//= require flickity
@import "bootstrap/scss/bootstrap";
@import "all";
@import "bg";
@import "sb-admin-2";
@import "noty/lib/noty";
@import "noty/src/themes/sunset";
@import "dropzone/dist/dropzone.css";

.profile-round {
  border-radius: 50%;
  width: 200px;
}
.profile-round-small {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.card-header {
  background-color: white;
}

body {
  color: #212529;
}

//Typography
h1, h2, h3, h4, h5 ,h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;

}

.edit-icon {
  position: relative;
  top: -1px;
  left: 3px;
}
.subtitle {
  margin-bottom: 0;
  letter-spacing: .2em;
  font-weight: 700;
  text-transform: uppercase;
}
.h2 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 24px;
}

// Start my helper classes
.n-m-l {
  margin-left: 0px !important;
}

.editable-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: initial;
  transition: none;
}
.text-block {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9ceef;
}
.avatar-show {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  border: lightgray;
}
.my-hidden {
  display: none;
}
// End my helper classes


// Start form css - to remove the default blue border on forms from the browser and replace it with white border
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
[contenteditable="true"]:focus {
  box-shadow: inset 0 -1px 0 white;
}

.form-control {
  background-clip: none;
  transition: border-color none,
  box-shadow none;
}
// end form css

// Start Dashboard Menu CSS
.nav-pills .nav-link.active {
  color: #4e73df;
  background-color: white;
  border-radius: 0px;
  border-bottom: 3px solid #4e73df;
}

.nav-pills .nav-link {
  color: #4e73df;
  background-color: white;
  border-radius: 0px;
  margin-left: 15px;
}
.nav-pills .nav-link:hover,
.nav-pills .nav-link:active,
.nav-pills .nav-link:focus {
  border-bottom: 3px solid #4e73df;
}
.nav-pills .show > .nav-link {
  color: #4e73df;
  background-color: #e9edf9;
  border-radius: 0px;
  border-bottom: none !important;
}

.horizontal-scroll-menu {
  white-space: nowrap;
  overflow: auto;
  flex-wrap: nowrap;
}
// End Dashboard Menu CSS

// Dropznoe CSS
.dropzone {
  border: 2px dashed #4e73df;
  border-radius: 5px;
  background: #4e73df0d;
  height: 250px;
}
.dropzone i {
  font-size: 80px;
}
.dropzone .dz-message {
  color: #4e73dfb5;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;

}
.pet-image {
  display: block;
  width: 100%;
  height: auto;
}

.pet-delete {
  position: absolute;
  bottom: 0;
  background: #292121cc;
  color: white;
  font-size: 16px;
  padding: 3px;
  transition: .5s ease;
  text-align: left;
  width: 100%;
}
.card-image-overlay-bottom {
  position: relative;
  width: 100%;
  max-width: 300px;
}

// Gallery Pets Section
.pet-img-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flexbox-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}
.pet-img-col {
  -ms-flexbox-wrap: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-top: 8px;
  // For text on image
  position: relative;
  text-align: left;
  color: white;
  display: none;
}

.pet-img-col img {
  width: 100%;
  vertical-align: middle;
}

.tinted {
  opacity: 0.6;
}

.top-left {
  position: absolute;
  top: 16px;
  left: 16px;
  font-weight: 700;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .pet-img-col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .pet-img-col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.show {
  display: block;
}

// Style for Flickity
.carousel-cell {
  width: 33%;
  height: 300px;
  margin-right: 3px;
  border-radius: 2px;
  counter-increment: carousel-cell;

  vertical-align: middle;
  object-fit: cover;
}

// Scrolable menu for steps
.scrollable-wrapper {
  width: 100%;
  height: 140px;
  overflow: scroll;
  margin: 0;
  white-space: nowrap;
}
.scrollable-item {
  display: inline-block;
  width: 260px;
  height: 80px;
}




